DB_USER=your_user
DB_PASSWORD=your_password
DB_NAME=your_db
# service name in the docker-compose
DB_HOST=db   
DB_PORT=5432
# On my local machine, map the outside port to 5433
DB_OUTSIDE_PORT=5433

